[submodule "emacs.d/public_repos/Ricty"]
	path = emacs.d/public_repos/Ricty
	url = https://github.com/yascentur/Ricty.git
[submodule "emacs.d/public_repos/tern"]
	path = emacs.d/public_repos/tern
	url = https://github.com/marijnh/tern.git
